<h1><a> EDA - TELECOMMUNICATION USER ANALYTICS </a></h1>

## Load dataset

In [1]:
# Libraries for data manipulation
import pandas as pd
import numpy as np

# Libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Libraries for settings
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)

In [2]:
df = pd.read_excel('../data/xdr_telecom_data.xlsx')

In [3]:
df.shape

(150001, 55)

In [4]:
print(f'There are {df.shape[0]} rows and {df.shape[1]} columns in the dataset')

There are 150001 rows and 55 columns in the dataset

In [5]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
# columns'names
df.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

## Handle missing values

In [7]:
def percent_missing(df):
    total_cells = np.product(df.shape)
    total_missing = np.sum(df.isna().sum())
    print(f'There is {round((total_missing/total_cells)*100, 1)}% missing values')

In [8]:
# percentage of missing values
percent_missing(df)

There is 12.5% missing values

In [9]:
df.isna().sum()

Bearer Id                                        0
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [10]:
def drop_50percent_missing(df):
    for i in df.columns:
        if df[i].isna().sum() >= df.shape[0]/2:
            df.drop(labels=i, axis=1, inplace=True)
            print(f'Dropped column: {i}')

In [11]:
drop_50percent_missing(df)

Dropped column: TCP DL Retrans. Vol (Bytes)
Dropped column: TCP UL Retrans. Vol (Bytes)
Dropped column: HTTP DL (Bytes)
Dropped column: HTTP UL (Bytes)
Dropped column: Nb of sec with 125000B < Vol DL
Dropped column: Nb of sec with 1250B < Vol UL < 6250B
Dropped column: Nb of sec with 31250B < Vol DL < 125000B
Dropped column: Nb of sec with 37500B < Vol UL
Dropped column: Nb of sec with 6250B < Vol DL < 31250B
Dropped column: Nb of sec with 6250B < Vol UL < 37500B

In [12]:
df.shape

(150001, 45)

In [13]:
df.isna().sum()

Bearer Id                             0
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
DL TP < 50 Kbps (%)                 754
50 Kbps < DL TP < 250 Kbps (%)      754
250 Kbps < DL TP < 1 Mbps (%)       754
DL TP > 1 Mbps (%)                  754
UL TP < 10 Kbps (%)                 792
10 Kbps < UL TP < 50 Kbps (%)       792
50 Kbps < UL TP < 300 Kbps (%)      792
UL TP > 300 Kbps (%)                792
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Dur. (ms).1                           1
Handset Manufacturer                572
Handset Type                        572
Nb of sec with Vol DL < 6250B       755
Nb of sec with Vol UL < 1250B       793
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

In [16]:
def ffill_missing(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]

def bfill_missing(df, col):
    df[col] = df[col].fillna(method='bfill')
    return df[col]

In [17]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.0,5.0,23.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,3330.0,37882.0,1.321510e+09,undefined,undefined,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [31]:
df[['Start', 'End', 'Dur. (ms)']].head(60)

                 Start                 End  Dur. (ms)
0  2019-04-04 12:01:18 2019-04-25 14:35:31  1823652.0
1  2019-04-09 13:04:04 2019-04-25 08:15:48  1365104.0
2  2019-04-09 17:42:11 2019-04-25 11:58:13  1361762.0
3  2019-04-10 00:31:25 2019-04-25 07:36:35  1321509.0
4  2019-04-12 20:10:23 2019-04-25 10:40:32  1089009.0
5  2019-04-12 21:37:31 2019-04-25 08:08:09  1074638.0
6  2019-04-13 08:41:59 2019-04-25 08:16:21  1035261.0
7  2019-04-14 02:11:59 2019-04-25 02:26:52   951292.0
8  2019-04-14 12:48:32 2019-04-25 10:22:26   941634.0
9  2019-04-15 00:32:15 2019-04-25 00:40:17   864482.0
10 2019-04-15 10:30:16 2019-04-25 06:14:13   848637.0
11 2019-04-15 11:33:39 2019-04-25 18:44:14   889834.0
12 2019-04-15 12:20:36 2019-04-25 08:40:02   850766.0
13 2019-04-15 14:58:29 2019-04-25 00:40:17   812507.0
14 2019-04-16 00:35:29 2019-04-25 00:40:17   777887.0
15 2019-04-16 08:56:59 2019-04-25 09:44:50   780471.0
16 2019-04-16 09:23:47 2019-04-25 06:39:09   767722.0
17 2019-04-16 11:34:35 2019-04-25 12:31:06   780991.0
18 2019-04-16 13:01:22 2019-04-25 13:14:29   778387.0
19 2019-04-16 18:59:54 2019-04-25 17:36:17   772583.0
20 2019-04-17 00:35:20 2019-04-25 04:52:49   706649.0
21 2019-04-17 00:35:33 2019-04-25 00:40:17   691483.0
22 2019-04-17 08:01:04 2019-04-25 17:02:58   723714.0
23 2019-04-17 08:37:19 2019-04-25 07:23:50   686791.0
24 2019-04-17 09:44:17 2019-04-25 15:22:22   711485.0
25 2019-04-17 10:17:52 2019-04-24 23:27:28   652176.0
26 2019-04-17 11:26:06 2019-04-25 18:27:51   716504.0
27 2019-04-17 16:00:50 2019-04-25 19:10:20   702570.0
28 2019-04-17 16:01:53 2019-04-25 17:10:59   695346.0
29 2019-04-17 16:23:16 2019-04-25 14:05:23   682926.0
30 2019-04-18 00:35:20 2019-04-25 04:52:49   620248.0
31 2019-04-18 06:04:16 2019-04-25 10:49:39   621923.0
32 2019-04-18 08:56:36 2019-04-25 07:41:07   600270.0
33 2019-04-18 09:26:55 2019-04-25 20:54:26   646050.0
34 2019-04-18 09:39:44 2019-04-25 06:22:26   592962.0
35 2019-04-18 10:45:52 2019-04-25 20:06:23   638431.0
36 2019-04-18 12:14:47 2019-04-25 12:31:47   605820.0
37 2019-04-18 14:10:08 2019-04-25 13:23:18   601989.0
38 2019-04-18 15:40:37 2019-04-25 15:40:38   604800.0
39 2019-04-18 15:54:45 2019-04-25 15:34:01   603555.0
40 2019-04-18 16:02:15 2019-04-25 09:08:38   579983.0
41 2019-04-18 18:17:41 2019-04-25 16:13:20   597338.0
42 2019-04-18 18:33:25 2019-04-25 00:25:32   539527.0
43 2019-04-19 02:55:04 2019-04-25 00:17:46   508961.0
44 2019-04-19 13:39:22 2019-04-25 17:19:18   531596.0
45 2019-04-19 14:45:51 2019-04-25 00:54:06   468495.0
46 2019-04-19 14:54:40 2019-04-25 19:42:00   535640.0
47 2019-04-19 18:56:27 2019-04-25 17:58:10   514902.0
48 2019-04-19 23:14:45 2019-04-25 02:22:14   443248.0
49 2019-04-20 00:42:18 2019-04-25 18:41:39   496761.0
50 2019-04-20 02:55:05 2019-04-25 00:17:46   422560.0
51 2019-04-20 07:34:47 2019-04-25 11:52:26   447459.0
52 2019-04-20 10:04:38 2019-04-25 00:01:43   395825.0
53 2019-04-20 10:55:57 2019-04-25 00:01:29   392732.0
54 2019-04-20 11:06:34 2019-04-25 04:03:50   406636.0
55 2019-04-20 11:07:46 2019-04-25 02:22:09   400462.0
56 2019-04-20 12:13:22 2019-04-24 23:08:39   384916.0
57 2019-04-20 12:29:48 2019-04-25 04:33:47   403438.0
58 2019-04-20 14:08:25 2019-04-25 00:54:07   384341.0
59 2019-04-20 14:24:37 2019-04-25 23:52:42   466084.0

In [15]:
df.skew(axis = 0, skipna = True)

Start ms                            0.000968
End ms                             -0.001163
Dur. (ms)                           3.952609
IMSI                               41.045956
MSISDN/Number                     332.155856
IMEI                                1.071470
Avg RTT DL (ms)                    62.907828
Avg RTT UL (ms)                    28.457415
Avg Bearer TP DL (kbps)             2.589437
Avg Bearer TP UL (kbps)             4.503413
DL TP < 50 Kbps (%)                -2.297803
50 Kbps < DL TP < 250 Kbps (%)      3.271453
250 Kbps < DL TP < 1 Mbps (%)       4.566158
DL TP > 1 Mbps (%)                  5.370351
UL TP < 10 Kbps (%)                -8.985016
10 Kbps < UL TP < 50 Kbps (%)      10.943888
50 Kbps < UL TP < 300 Kbps (%)     21.878495
UL TP > 300 Kbps (%)               36.174053
Activity Duration DL (ms)           5.872256
Activity Duration UL (ms)           7.382557
Dur. (ms).1                         3.952609
Nb of sec with Vol DL < 6250B       9.042166
Nb of sec with Vol UL < 1250B       7.495176
Social Media DL (Bytes)            -0.002136
Social Media UL (Bytes)            -0.000359
Google DL (Bytes)                  -0.008092
Google UL (Bytes)                   0.002216
Email DL (Bytes)                   -0.002463
Email UL (Bytes)                    0.007358
Youtube DL (Bytes)                  0.000231
Youtube UL (Bytes)                 -0.001142
Netflix DL (Bytes)                 -0.002442
Netflix UL (Bytes)                 -0.000113
Gaming DL (Bytes)                  -0.003460
Gaming UL (Bytes)                  -0.001840
Other DL (Bytes)                    0.001400
Other UL (Bytes)                    0.001392
Total UL (Bytes)                   -0.002456
Total DL (Bytes)                   -0.003153
dtype: float64

In [ ]:
# if the number is closer to zero, then the column is skewed

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       150001 non-null  object
 1   Start                           150000 non-null  datetime64[ns]
 2   Start ms                        150000 non-null  float64
 3   End                             150000 non-null  datetime64[ns]
 4   End ms                          150000 non-null  float64
 5   Dur. (ms)                       150000 non-null  float64
 6   IMSI                            149431 non-null  float64
 7   MSISDN/Number                   148935 non-null  float64
 8   IMEI                            149429 non-null  float64
 9   Last Location Name              148848 non-null  object
 10  Avg RTT DL (ms)                 122172 non-null  float64
 11  Avg RTT UL (ms)                 122189 non-null  float64
 12  Avg Bearer TP DL (kbps)         150000 non-null  float64
 13  Avg Bearer TP UL (kbps)         150000 non-null  float64
 14  DL TP < 50 Kbps (%)             149247 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  149247 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   149247 non-null  float64
 17  DL TP > 1 Mbps (%)              149247 non-null  float64
 18  UL TP < 10 Kbps (%)             149209 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   149209 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  149209 non-null  float64
 21  UL TP > 300 Kbps (%)            149209 non-null  float64
 22  Activity Duration DL (ms)       150000 non-null  float64
 23  Activity Duration UL (ms)       150000 non-null  float64
 24  Dur. (ms).1                     150000 non-null  float64
 25  Handset Manufacturer            149429 non-null  object
 26  Handset Type                    149429 non-null  object
 27  Nb of sec with Vol DL < 6250B   149246 non-null  float64
 28  Nb of sec with Vol UL < 1250B   149208 non-null  float64
 29  Social Media DL (Bytes)         150001 non-null  float64
 30  Social Media UL (Bytes)         150001 non-null  float64
 31  Google DL (Bytes)               150001 non-null  float64
 32  Google UL (Bytes)               150001 non-null  float64
 33  Email DL (Bytes)                150001 non-null  float64
 34  Email UL (Bytes)                150001 non-null  float64
 35  Youtube DL (Bytes)              150001 non-null  float64
 36  Youtube UL (Bytes)              150001 non-null  float64
 37  Netflix DL (Bytes)              150001 non-null  float64
 38  Netflix UL (Bytes)              150001 non-null  float64
 39  Gaming DL (Bytes)               150001 non-null  float64
 40  Gaming UL (Bytes)               150001 non-null  float64
 41  Other DL (Bytes)                150001 non-null  float64
 42  Other UL (Bytes)                150001 non-null  float64
 43  Total UL (Bytes)                150000 non-null  float64
 44  Total DL (Bytes)                150000 non-null  float64
dtypes: datetime64[ns](2), float64(39), object(4)
memory usage: 51.5+ MB